<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contact</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<a href="mailto:ebru.resul.007@gmail.com">Ebru Resul - PM</a>
				<img src="../img/ebru.jpg" style="border-radius: 50%;">
			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="mailto:dianavlad162@gmail.com">Diana Vlad - BE</a>
				<img src="../img/diana.jpg" style="border-radius: 50%;">
			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="mailto:adrianpopa9701@gmail.com">Adrian Popa - FE</a>
				<img src="../img/adi.jpg" style="border-radius: 50%;">
			</div>
		</div>
	</div>
</section>
